# Ignore instance folder (contains blog.db)
instance/

# Virtual environments
venv/
env/
myvenv/



# Python Cache & compiled files
__pycache__/
*.pyc

# Database files - Production ke liye zaroori
*.db
*.sqlite


# Environment Variables - Security ke liye zaroori
.env

# Logs
*.log